*~
/BUILD.sh
/data/
/mpi/
build*/
*.log
/doc/Fortran-*.pdf
/doc/mpi*-report.pdf
/bug-mpich-7916/mpich-abi-attr-bug
/bug-ompi-info-value/ompi-empty-info-value
/bug-ompi-object-names/ompi-object-names
/bug-ompi-aio-eagain/ompi-aio-eagain
/bug-ompi-aio-eagain/ompi-aio-eagain-probe
/bug-ompi-aio-eagain/posix-aio-limit
/bug-ompi-aio-eagain/*.dat
