name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        mpi:
          - mpich
          - openmpi
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gfortran cmake libhwloc-dev



      - name: Cache MPICH install
        if: matrix.mpi == 'mpich'
        id: cache-mpich
        uses: actions/cache@v4
        with:
          path: /home/runner/work/mpif/opt
          key: mpich-${{ runner.os }}-5.0.0b1.2
          restore-keys: |
            mpich-${{ runner.os }}-

      - name: Install MPICH
        if: matrix.mpi == 'mpich' && steps.cache-mpich.outputs.cache-hit != 'true'
        run: |
          mkdir -p /home/runner/work/mpif/opt
          cd /home/runner/work/mpif/opt

          mkdir src
          pushd src

          # Download
          # git clone --depth 1 https://github.com/pmodels/mpich.git --branch main
          # cd mpich
          # git fetch --depth 1 origin f47908fa4a74bf4ac29997202fb2967c8c59b0c9
          # git checkout f47908fa4a74bf4ac29997202fb2967c8c59b0c9
          # git submodule update --depth 1 --init --recursive
          wget https://www.mpich.org/static/downloads/5.0.0b1/mpich-5.0.0b1.tar.gz
          tar xzf mpich-5.0.0b1.tar.gz
          cd mpich-5.0.0b1

          # Build
          # ./autogen.sh
          mkdir build
          cd build
          prefix=/home/runner/work/mpif/opt/mpi
          configure_flags=(
              --disable-dependency-tracking
              --disable-doc
              --enable-fortran
              --enable-cxx=no
              --enable-static=no
              --enable-mpi-abi
              --prefix=${prefix}
              --with-device=ch3
              --with-hwloc=
          )
          ../configure "${configure_flags[@]}"
          make -j$(nproc)
          make install

          # Extract MPI ABI files
          mv ${prefix} ${prefix}-mpich
          mkdir ${prefix}
          mkdir ${prefix}/lib
          mv ${prefix}-mpich/lib/libmpi_abi.* ${prefix}/lib
          # mv ${prefix}-mpich/lib/libpmpi_abi.* ${prefix}/lib
          mkdir ${prefix}/bin
          mv ${prefix}-mpich/bin/* ${prefix}/bin
          rm ${prefix}/bin/mpichversion       # needs libmpi.so
          rm ${prefix}/bin/mpivars            # needs libmpi.so
          rm ${prefix}/bin/mpicc_abi
          rm ${prefix}/bin/mpicxx_abi
          sed -i -e 's/mpi_abi=no/mpi_abi=yes/' ${prefix}/bin/mpicc
          sed -i -e 's/mpi_abi=no/mpi_abi=yes/' ${prefix}/bin/mpicxx
          sed -i -e "s+${prefix}/mpich+${prefix}+" ${prefix}/bin/mpicc
          sed -i -e "s+${prefix}/mpich+${prefix}+" ${prefix}/bin/mpicxx
          rm -rf ${prefix}-mpich

          popd
          rm -rf src

          # Add MPICH to environment
          echo "${prefix}/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=${prefix}/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV



      - name: Cache OpenMPI install
        if: matrix.mpi == 'openmpi'
        id: cache-openmpi
        uses: actions/cache@v4
        with:
          path: /home/runner/work/mpif/opt
          key: openmpi-${{ runner.os }}-df6aff9df9bbb79f91e6064748a5a78acdc7e47c.3
          restore-keys: |
            openmpi-${{ runner.os }}-

      - name: Install OpenMPI
        if: matrix.mpi == 'openmpi' && steps.cache-openmpi.outputs.cache-hit != 'true'
        run: |
          mkdir -p /home/runner/work/mpif/opt
          cd /home/runner/work/mpif/opt

          mkdir src
          pushd src

          # Download
          git clone --depth 1 https://github.com/open-mpi/ompi.git
          cd ompi
          # git fetch --depth 1 origin pull/13280/head:pr-13280
          # git checkout pr-13280
          git fetch --depth 1 origin df6aff9df9bbb79f91e6064748a5a78acdc7e47c
          git checkout df6aff9df9bbb79f91e6064748a5a78acdc7e47c
          git submodule update --depth 1 --init --recursive

          # Build
          ./autogen.pl
          ./configure \
              --enable-mpi-fortran=no \
              --enable-mpi1-compatibility=yes \
              --enable-script-wrapper-compilers \
              --enable-shared=yes \
              --enable-standard-abi=yes \
              --enable-static=no \
              --with-hwloc \
              --with-libevent=internal \
              --prefix=/home/runner/work/mpif/opt/mpi
          make -j$(nproc)
          make install

          # Fixup
          pushd /home/runner/work/mpif/opt/mpi
          mv include/mpi.h include/mpi_openmpi.h
          # mv include/standard_abi/mpi.h include/mpi.h
          # patch -d include -p 1 </home/runner/work/mpif/mpif/.github/workflows/fortran_openmpi.patch
          sed -i -e 's/-lmpi/-lmpi_abi/' bin/ompi_wrapper_script
          popd

          popd
          rm -rf src

          # Add OpenMPI to environment
          echo "/home/runner/work/mpif/opt/mpi/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=/home/runner/work/mpif/opt/mpi/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV



      - name: Install official MPI header file
        run: |
          mkdir -p /home/runner/work/mpif/opt
          cd /home/runner/work/mpif/opt
          mkdir src
          pushd src
          git clone https://github.com/mpi-forum/mpi-abi-stubs
          prefix=/home/runner/work/mpif/opt/mpi
          mkdir -p ${prefix}/include
          cp mpi-abi-stubs/mpi.h ${prefix}/include
          (cd ${prefix}/include && patch -p1 </home/runner/work/mpif/mpif/.github/workflows/fortran_mpich.patch)
          popd
          rm -rf src



      - name: Configure, build, and install project
        run: |
          cmake \
              -Bbuild \
              -DBUILD_SHARED_LIBS=ON \
              -DCMAKE_BUILD_TYPE=Debug \
              -DCMAKE_INSTALL_PREFIX=/home/runner/work/mpif/opt/mpif \
              -DMPI_HOME=/home/runner/work/mpif/opt/mpi
          cmake --build build --parallel
          cmake --install build

      - name: Configure, build, and run tests
        run: |
          cd test
          cmake \
              -Bbuild-tests \
              -DCMAKE_BUILD_TYPE=Debug \
              -DMPI_HOME=/home/runner/work/mpif/opt/mpif \
              -DMPI_Fortran_COMPILER=/home/runner/work/mpif/opt/mpif/bin/mpifort
          cmake --build build-tests --parallel
          ctest --test-dir build-tests
