name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        mpi:
          - mpich
          - openmpi
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gfortran cmake libhwloc-dev



      - name: Cache MPICH install
        if: matrix.mpi == 'mpich'
        id: cache-mpich
        uses: actions/cache@v4
        with:
          path: /home/runner/work/mpif/opt
          key: mpich-${{ runner.os }}-5.0.0b1.4
          restore-keys: |
            mpich-${{ runner.os }}-

      - name: Install MPICH
        if: matrix.mpi == 'mpich' && steps.cache-mpich.outputs.cache-hit != 'true'
        run: |
          mkdir -p /home/runner/work/mpif/opt
          cd /home/runner/work/mpif/opt

          mkdir src
          pushd src

          # Download
          wget https://www.mpich.org/static/downloads/5.0.0b1/mpich-5.0.0b1.tar.gz
          tar xzf mpich-5.0.0b1.tar.gz
          cd mpich-5.0.0b1

          # Build
          patch -p2 </home/runner/work/mpif/mpif/.github/workflows/mpich.patch
          mkdir build
          cd build
          prefix=/home/runner/work/mpif/opt/mpi
          configure_flags=(
              --disable-dependency-tracking
              --disable-doc
              --enable-fortran
              --enable-cxx=no
              --enable-static=no
              --enable-mpi-abi
              --prefix=${prefix}
              --with-device=ch3
              --with-hwloc
          )
          ../configure "${configure_flags[@]}"
          make -j$(nproc)
          make install

          # Fixup
          rm ${prefix}/bin/mpicc_abi
          rm ${prefix}/bin/mpichversion       # needs libmpi.so
          rm ${prefix}/bin/mpicxx_abi
          rm ${prefix}/bin/mpif77
          rm ${prefix}/bin/mpif90
          rm ${prefix}/bin/mpifort
          rm ${prefix}/bin/mpivars            # needs libmpi.so
          sed -i -e 's/mpi_abi=no/mpi_abi=yes/' ${prefix}/bin/mpicc
          sed -i -e 's/mpi_abi=no/mpi_abi=yes/' ${prefix}/bin/mpicxx

          rm ${prefix}/include/mpi.h
          rm ${prefix}/include/mpi.mod
          rm ${prefix}/include/mpi_abi.h
          rm ${prefix}/include/mpi_base.mod
          rm ${prefix}/include/mpi_c_interface.mod
          rm ${prefix}/include/mpi_c_interface_cdesc.mod
          rm ${prefix}/include/mpi_c_interface_glue.mod
          rm ${prefix}/include/mpi_c_interface_nobuf.mod
          rm ${prefix}/include/mpi_c_interface_types.mod
          rm ${prefix}/include/mpi_constants.mod
          rm ${prefix}/include/mpi_f08.mod
          rm ${prefix}/include/mpi_f08_callbacks.mod
          rm ${prefix}/include/mpi_f08_compile_constants.mod
          rm ${prefix}/include/mpi_f08_link_constants.mod
          rm ${prefix}/include/mpi_f08_types.mod
          rm ${prefix}/include/mpi_proto.h
          rm ${prefix}/include/mpi_sizeofs.mod
          rm ${prefix}/include/mpif.h
          rm ${prefix}/include/pmpi_base.mod
          rm ${prefix}/include/pmpi_f08.mod

          rm ${prefix}/lib/libfmpich.*
          rm ${prefix}/lib/libmpi.*
          rm ${prefix}/lib/libmpich.*
          rm ${prefix}/lib/libmpichcxx.*
          rm ${prefix}/lib/libmpichf90.*
          rm ${prefix}/lib/libmpifort.*
          rm ${prefix}/lib/libmpl.*
          rm ${prefix}/lib/libopa.*
          rm ${prefix}/lib/libpmpi.* || true   # This library does not exist on all architectures
          rm ${prefix}/lib/pkgconfig/mpich.pc

          popd
          rm -rf src

          # Add MPICH to environment
          echo "${prefix}/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=${prefix}/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV



      - name: Cache OpenMPI install
        if: matrix.mpi == 'openmpi'
        id: cache-openmpi
        uses: actions/cache@v4
        with:
          path: /home/runner/work/mpif/opt
          key: openmpi-${{ runner.os }}-4110e997cccce890cab3b800a8bf9db72eb43227.1
          restore-keys: |
            openmpi-${{ runner.os }}-

      - name: Install OpenMPI
        if: matrix.mpi == 'openmpi' && steps.cache-openmpi.outputs.cache-hit != 'true'
        run: |
          mkdir -p /home/runner/work/mpif/opt
          cd /home/runner/work/mpif/opt

          mkdir src
          pushd src

          # Download
          git clone --depth 1 https://github.com/open-mpi/ompi.git
          cd ompi
          # git fetch --depth 1 origin pull/13280/head:pr-13280
          # git checkout pr-13280
          git fetch --depth 1 origin 4110e997cccce890cab3b800a8bf9db72eb43227
          git checkout 4110e997cccce890cab3b800a8bf9db72eb43227
          git submodule update --init --recursive

          # Build
          patch -p2 </home/runner/work/mpif/mpif/.github/workflows/openmpi.patch
          ./autogen.pl
          mkdir build
          cd build
          prefix=/home/runner/work/mpif/opt/mpi
          configure_flags=(
              --enable-mpi-fortran=yes
              --enable-mpi1-compatibility=yes
              --enable-script-wrapper-compilers
              --enable-shared=yes
              --enable-standard-abi=yes
              --enable-static=no
              --prefix=${prefix}
              --with-hwloc
              --with-libevent=internal
          )
          ../configure "${configure_flags[@]}"
          make -j$(nproc)
          make install

          # Fixup
          rm ${prefix}/bin/mpif77
          rm ${prefix}/bin/mpif90
          rm ${prefix}/bin/mpifort
          sed -i -e 's/-lmpi/-lmpi_abi/' ${prefix}/bin/ompi_wrapper_script

          rm     ${prefix}/include/abi_converters.h
          rm     ${prefix}/include/abi.h
          rm     ${prefix}/include/evdns.h
          rm     ${prefix}/include/event.h
          rm -rf ${prefix}/include/event2
          rm     ${prefix}/include/evhttp.h
          rm     ${prefix}/include/evrpc.h
          rm     ${prefix}/include/evutil.h
          rm     ${prefix}/include/mpi_portable_platform.h
          rm     ${prefix}/include/mpi-ext.h
          rm     ${prefix}/include/mpi.h
          rm     ${prefix}/include/mpif-c-constants-decl.h
          rm     ${prefix}/include/mpif-config.h
          rm     ${prefix}/include/mpif-constants.h
          rm     ${prefix}/include/mpif-ext.h
          rm     ${prefix}/include/mpif-externals.h
          rm     ${prefix}/include/mpif-handles.h
          rm     ${prefix}/include/mpif-io-constants.h
          rm     ${prefix}/include/mpif-io-handles.h
          rm     ${prefix}/include/mpif-sentinels.h
          rm     ${prefix}/include/mpif-sizeof.h
          rm     ${prefix}/include/mpif.h
          rm -rf ${prefix}/include/openmpi
          rm -rf ${prefix}/include/pmix
          rm     ${prefix}/include/pmix_common.h
          rm     ${prefix}/include/pmix_deprecated.h
          rm     ${prefix}/include/pmix_server.h
          rm     ${prefix}/include/pmix_tool.h
          rm     ${prefix}/include/pmix_version.h
          rm     ${prefix}/include/pmix.h
          rm -rf ${prefix}/include/prte
          rm     ${prefix}/include/prte_version.h
          rm     ${prefix}/include/prte.h
          rm -rf ${prefix}/include/standard_abi

          rm ${prefix}/lib/mpi_ext.mod
          rm ${prefix}/lib/mpi_f08_callbacks.mod
          rm ${prefix}/lib/mpi_f08_ext.mod
          rm ${prefix}/lib/mpi_f08_interfaces_callbacks.mod
          rm ${prefix}/lib/mpi_f08_interfaces.mod
          rm ${prefix}/lib/mpi_f08_types.mod
          rm ${prefix}/lib/mpi_f08.mod
          rm ${prefix}/lib/mpi_types.mod
          rm ${prefix}/lib/mpi.mod
          rm ${prefix}/lib/pkgconfig/libevent*.pc
          rm ${prefix}/lib/pkgconfig/ompi*pc
          rm ${prefix}/lib/pkgconfig/pmix*pc
          rm ${prefix}/lib/pmpi_f08_interfaces.mod

          popd
          rm -rf src

          # Add OpenMPI to environment
          echo "/home/runner/work/mpif/opt/mpi/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=/home/runner/work/mpif/opt/mpi/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV



      - name: Install official MPI header file
        run: |
          mkdir -p /home/runner/work/mpif/opt
          cd /home/runner/work/mpif/opt
          mkdir src
          pushd src
          git clone https://github.com/mpi-forum/mpi-abi-stubs
          prefix=/home/runner/work/mpif/opt/mpi
          mkdir -p ${prefix}/include
          cp mpi-abi-stubs/mpi.h ${prefix}/include
          (cd ${prefix}/include && patch -p1 </home/runner/work/mpif/mpif/.github/workflows/fortran.patch)
          popd
          rm -rf src



      - name: Configure, build, and install project
        run: |
          ls -lR /home/runner/work/mpif/opt/mpi
          cmake \
              -Bbuild \
              -DBUILD_SHARED_LIBS=ON \
              -DCMAKE_BUILD_TYPE=Debug \
              -DCMAKE_INSTALL_PREFIX=/home/runner/work/mpif/opt/mpif \
              -DMPI_HOME=/home/runner/work/mpif/opt/mpi
          cmake --build build --parallel
          cmake --install build

      - name: Configure, build, and run tests
        run: |
          cd test
          cmake \
              -Bbuild-tests \
              -DCMAKE_BUILD_TYPE=Debug \
              -DMPI_HOME=/home/runner/work/mpif/opt/mpif \
              -DMPI_Fortran_COMPILER=/home/runner/work/mpif/opt/mpif/bin/mpifort
          cmake --build build-tests --parallel
          ctest --test-dir build-tests
